.model-space {
  &-container {
    max-width: 1280px;
    margin: 30px auto;

    .model-card {
      background: $theme-card;
      padding: 2rem;
      border-radius: 0.5rem;
      color: $theme-text-white;
      cursor: pointer;
      border: 1px solid black;
      transition: all 0.3s ease;

      &-container {
        display: flex;
        align-items: flex-start;
        gap: 2rem;

        .img-wrapper {
          background-color: $theme-black;
          border-radius: 0.5rem;
          height: 5.75rem;

          img {
            width: 5.75rem;
            object-fit: cover;
            border-radius: 0.5rem;
          }
        }

        .model-details {
          h2 {
            margin: 0;
            font-weight: 600;
            color: $theme-white;
          }
        }
      }
    }

    .model-form-output {
      display: flex;
      gap: 2rem;
      margin-top: 2rem;

      .model-form {
        flex: 1;
        background: $theme-card;
        padding: 2rem;
        border-radius: 0.5rem;
        border: 1px solid black;

        .form-group {
          margin-bottom: 1rem;

          label {
            display: block;
            color: $theme-text-white;
            font-weight: 600;
            margin-bottom: 0.5rem;
          }

          .form-control {
            width: calc(100% - 2rem);
            padding: 1rem;
            border-radius: 0.5rem;
            border: 1px solid $theme-black;
            background-color: $theme-black;
            color: $theme-text-white;
            outline: none;

            &:focus,
            &:focus-within {
              border-color: $theme-blue;
            }
          }

          p {
            margin-top: 0.25rem;
            color: $theme-text-white;
            font-size: 0.875rem;
          }
        }

        .submit-btn {
          padding: 0.5rem 1rem;
          background-color: $theme-blue;
          color: $theme-white;
          border: none;
          border-radius: 0.5rem;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: $theme-blue-two;
          }
        }
      }

      .model-output {
        flex: 1;
        background: $theme-card;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid black;
        overflow-y: auto;
        max-height: 400px;

        .error {
          color: red;
        }

        .output-group {
          margin-bottom: 1rem;

          label {
            display: block;
            color: $theme-text-white;
            font-weight: 600;
            margin-bottom: 0.5rem;
          }

          .output-text {
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 1px solid $theme-black;
            background-color: $theme-black;
            color: $theme-text-white;
            resize: none;
          }

          .output-image {
            width: 100%;
            border-radius: 0.5rem;
            object-fit: contain;
          }
        }
      }
    }
  }
}
